@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

/* RESET */
*,
*::after,
*::before {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button {
    font: inherit;
}

/* VARIABLES */
:root {
    --primary-color: #FF5400;
    --dark-01: #131318;
    --dark-02: #424247;
    --text-color: #5A5A5D;
}

/* UTILITY CLASSES */
.container {
    width: 88%;
    max-width: 73.125rem;
    margin: 0 auto;
    height: 100%;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    /* border: 1px solid red; */
}

.highlight {
    color: var(--primary-color);
}

.title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.title-s {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 700;
}

.description {
    font-size: 1rem;
    font-weight: 400;
}

.content-wrapper {
    max-width: 40rem;
    margin: 0 auto 2.5rem;
    text-align: center;
}

.btn {
    background-color: var(--primary-color);
    color: #fff;
}

.card {
    border: none;
    padding: 2rem;
    border-radius: 1rem;
}

/* GENERAL STYLES */
body {
    font-family: 'Mulish', sans-serif;
    color: var(--text-color);
    background-color: #fff;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.5rem;
}

p {
    margin: 1.2rem 0;
}

/* HEADER */
.header {
    padding: 2rem 0;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.header__logo h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--dark-01);
}

.header__nav ul {
    display: flex;
    gap: 2.2rem;
    font-size: 1.125rem;
    font-weight: 400;
}

/* .header__nav {
    position: relative;
}

.header__nav .menu-icon {
    position: absolute;
    left: 300rem;
    top: -.5rem;
    font-size: 1.8rem;
} */

/* Hero */
.hero .container {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/banner.png") no-repeat;
    background-size: cover;
    min-height: 31.25rem;
    border-radius: .7rem;
    padding: 6.5rem 0;
}

.hero__content {
    max-width: 42.25rem;
    margin: 0 auto;
}

.hero__title {
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
}

.hero__content .description {
    color: #fff;
    margin: 1.5rem 0;
}

.hero__form {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 0.5rem;
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.3rem;
}

.hero__form select,
button {
    background-color: #fff;
    color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    width: 22%;
    font-size: 1rem;
}

.hero__form select:focus {
    outline: none;
}

/* POPULAR */
.popular {
    margin: 6rem 0;
}

.popular .container {
    grid-template-columns: 1fr 33.75rem;
}

.popular__content ul {
    list-style-type: disc;
}

.popular__content button {
    width: 9rem;
    padding: .5rem 1rem;
    font-size: 1rem;
}

.popular__content li {
    margin: 1rem 0;
}

/* DESTINATION */
.destination .container {
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
}

.destination__img:nth-child(1) {
    grid-column: 1/span 6;
}

.destination__img:nth-child(2) {
    grid-column: 7/span 6;
}

.destination__img:nth-child(3) {
    grid-column: 1/span 4;
    /* grid-row: 2/span 1; */
}

.destination__img:nth-child(4) {
    grid-column: 5/span 5;
}

.destination__img:nth-child(5) {
    grid-column: 10/span 3;
}

.destination__img:nth-child(6) {
    grid-column: 1/span 5;
}

.destination__img:nth-child(7) {
    grid-column: 6/span 7;
}

/* WHY US */
.why-us {
    margin: 6rem 0;
}

.why-us .container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.card:nth-of-type(1) {
    border: 1px solid #FBB56333;
    background-color: #FBB5630D;
    grid-column: 1/span 2;
}

.card:nth-of-type(2) {
    border: 1px solid #29CEF633;
    background-color: #29CEF60D;
    grid-column: 3/span 2;
}

.card:nth-of-type(3) {
    border: 1px solid #E9444433;
    background-color: #E944440D;
    grid-column: 2/span 2;
}

/* NEWSLETTER */
.newsletter {
    margin: 6.5rem 0;
}

.newsletter .container {
    grid-template-columns: 1fr 1.4fr;
}

.newsletter__box {
    border-radius: 1rem;
    border: 1px solid #FF5400;
    padding: 2.5rem;
}

.newsletter__box input {
    width: 100%;
    background-color: #1313180D;
    color: #1313184D;
    padding: 1rem 1.25rem;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.newsletter__box input[type="button"] {
    background-color: var(--primary-color);
    color: #fff;
}





/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
    .title {
        font-size: 1.5rem;
    }

    .description {
        font-size: 0.875rem;
        line-height: 1.5rem;
        padding: 0 1rem;
    }

    .content-wrapper {
        max-width: 30rem;
        margin: 0 auto 2.5rem;
    }

    /* header */
    .header__logo {
        gap: .5rem;
    }

    .header__logo h1 {
        font-size: 1.34rem;
        text-align: start;
    }

    .header__logo img {
        width: 2.5rem;
        height: 2.09475rem;
    }

    .header__nav {
        display: none;
    }

    /* HERO */
    .hero__form {
        flex-direction: column;
        width: 85%;
        min-height: 3.25rem;
    }

    .hero__form select,
    button {
        width: 100%;
    }

    .hero__title {
        font-size: 2rem;
    }

    /* POPULAR  */
    .popular .container {
        grid-template-columns: 1fr;

    }

    .popular__content {
        order: 2;
    }

    /* DESTINATION */
    .destination .container {
        grid-template-columns: 1fr;
        /* grid-template-rows: repeat(2, 1fr); */
        gap: 1.5rem;
    }

    .destination__img img {
        object-fit: cover;
        width: 100%;
        height: 15rem;
        border-radius: 1rem;
    }

    .destination__img:nth-child(1) {
        grid-column: 1/span 1;
    }

    .destination__img:nth-child(2) {
        grid-column: 1/span 1;
    }

    .destination__img:nth-child(3) {
        grid-column: 1/span 1;
        /* grid-row: 2/span 1; */
    }

    .destination__img:nth-child(4) {
        grid-column: 1/span 1;
    }

    .destination__img:nth-child(5) {
        grid-column: 1/span 1;
    }

    .destination__img:nth-child(6) {
        grid-column: 1/span 1;
    }

    .destination__img:nth-child(7) {
        grid-column: 1/span 1;
    }

    /* WHY US */
    .why-us .container {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .card:nth-of-type(1) {
        grid-column: 1/span 1;
    }

    .card:nth-of-type(2) {
        grid-column: 1/span 1;
    }

    .card:nth-of-type(3) {
        grid-column: 1/span 1;
    }

    .newsletter .container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
    .header .container {
        flex-direction: column;
        align-items: center;
    }

    .hero__form {
        flex-direction: column;
        width: 85%;
    }

    .hero__form select,
    button {
        width: 100%;
    }

    .popular .container {
        grid-template-columns: 1fr;
    }

    .popular__content {
        order: 2;
    }

    .newsletter .container {
        grid-template-columns: 1fr;
        width: 70%;
    }
}